html, body {
	font-family: 'Lato', sans-serif;
	margin: 0px 0px 0px 5px;
	padding: 0;
	height: 100%; 
	width: 99.4%;
	position: relative; }
	
p {
	font-size: 15px; 
	line-height: 1.3; }

a {
	font-size: 15px;
	color: #b667da; 
	cursor: pointer; 
	text-decoration: none; }
a:visited {
	color: #b667da; }
a:hover {
	color: #af49df; }

#content {
	left: 5px;
	right: 5px; }
#title {
	position: relative; 
	float: none; 
	text-align: center; 
	margin-bottom: 10px; }
#title a:hover {
	color: #66ccff; }
.title-Margaret, .title-Yu {
	font-size: 52px;
	font-weight: bold;
	font-family: 'Shadows Into Light Two', cursive; }
.title-Margaret {
	color: #af49df; }
.title-Yu {
	color: #b667da; }

#intro {
	clear: both;
	position: relative;
	margin: 0;
	width: 100%;
	float: left; 
  font-size: 20px;}

.projects {
	font-size: 15px; 
	font-style: italic; }

#links {
	clear: both; 
	position: relative;
	margin: 0;
  width: 100%;
	float: left; 
	font-size: 15px; }

hr {
  border-width: medium medium 1px;
  border-style: none none dotted;
  border-color: -moz-use-text-color -moz-use-text-color #d8d4d0;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  width: 99%;
  margin: 0px; }
hr.title {
	margin-top: 5px;
	height:12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px #af49df; }

#footer {
	position: relative;
	width: 20%;
	margin-bottom: 5px;
  margin-right: 86.5%; }
#copyright {
	font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif; }

img {
	width: 8%;
	height: 8%; }