html, body {
	font-family: 'Lato', sans-serif;
	padding: 0;
	height: 100%; 
	width: 100%;
	position: relative; }
	
p {
	font-size: 15px; 
	margin: 0;
	line-height: 1.4; }

a {
	font-size: 15px;
	color: #b667da; 
	cursor: pointer; 
	text-decoration: none; }
a:visited {
	color: #b667da; }
a:hover {
	color: #af49df; }

#returntotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #b667da;
  width: 40px;
  height: 40px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
#returntotop i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 12px;
  top: 9px;
  font-size: 18px;
  font-family: 'Droid Sans Mono', ;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
#returntotop:hover {
  background: #af49df; 
  position: fixed; }
#returntotop:hover i {
  color: #fff;
  top: 5px; }

#content {
  margin: 0em 10em; }
#title {
	position: relative; 
	float: none; 
	text-align: center; 
	margin-bottom: 10px; }
.title-Margaret, .title-Yu {
	font-size: 55px;
	font-family: 'Shadows Into Light Two', cursive; }
.title-Margaret {
	color: #af49df; }
.title-Yu {
	color: #b667da; }
a.title:hover { 
	font-size: 57px;
  font-weight: bold; }

#intro {
	clear: both;
	position: relative;
	margin: 0;
	width: 100%;
	float: left; 
  font-size: 20px;}

.projects {
	font-size: 15px; 
	font-style: italic; }

#links {
	clear: both; 
	position: relative;
	margin: 0;
  width: 100%;
	float: left; 
	font-size: 15px; }

#footer {
	clear: both;
	position: relative;
	width: 100%;
	margin-top: 3%;
  margin-right: 86.5%; }
#copyright {
	font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif; }

img {
	width: 15px;
	height: 15px; }

div i {
	color: #444; }

hr {
  border-width: medium medium 1px;
  border-style: none none dotted;
  border-color: -moz-use-text-color -moz-use-text-color #d8d4d0;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  width: 100%;
  margin: 1.5em 0em; }
hr.title {
	margin-top: 5px;
	height:12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px #af49df; }

strong {
	font-size: 18px; }