* {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
}

#enter-button {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0; 
}

p {
	font-size: 16px; 
	margin: 0;
	line-height: 1.4; 
}

.content {
	margin-top: 30px;
}

#header,
#intro,
#about,
#projects,
#contact,
#footer {
	display: none;
}

#header {
	background: #efefef;
	border: none;
	z-index: 1000;
}

#navigation {
	z-index: 1000;
	padding: 10px;
}

#title {
	position: relative; 
	display: inline-block;
	float: left;
	text-align: center; 
	text-decoration: none;
}
#title img {
	width: 80px;
	height: 80px;
}
.title-Margaret, 
.title-Yu {
	font-size: 55px;
	font-family: 'Shadows Into Light Two', cursive; 
}
.title-Margaret {
	color: #af49df; 
}
.title-Yu {
	color: #b667da; 
}
#title:hover .title-Margaret,
#title:hover .title-Yu {
	margin-left: 10px;
}

#list li a,
#list li a:visited {
	font-size: 30px;
	margin-top: 10px;
  color: #b667da; 
}
#list li a:hover {
	color: #af49df;	
	margin-top: 5px;
}

@media only screen and (min-device-width: 320px) and (max-width: 680px) {

	body {
		width: device-width;
	}

	#enter-button {
		top: 40%;
		left:38%;
	}

	#title {
		display: inline-block;
	}

	#list {
		display: inline-block;
	}
	#list li {
		display: inline-block;
	}

	#list li a {
		font-size: 16px;
	}

	.title-Margaret,
	.title-Yu {
		display: none;
	}
}

@media screen and (min-device-width: 680px) and (max-device-width: 1600px) {
	#about img {
		width: 450px;
	}
}

#intro,
#about,
#projects,
#contact {
	position: relative;
	padding: 80px 0;
}

#intro p {
	text-align: center;
	font-size: 50px;
}

#intro .typers {
	color: #b667da;
}

#about p {
	text-align: center;
	font-size: 24px;
}

#about img {
	display: block;
	max-width: 80%;
	margin: 0 auto;
}

#projects p,
#contact p {
	font-size: 20px;
}

#projects a,
#projects a:visited {
	color: #692b85;
	text-decoration: none;
}
.project {
	position: relative;
	padding: 5px;
}
.project-container {
	position: relative;
	height: 250px;
	border-radius: 15px;
	cursor: pointer;
}
.project-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
	border-radius: 15px;
	background: #efefef;	
	z-index: 1;
}
.project-date {
	position: absolute;
	top: 5px;
	right: 10px;
}
.project-name {
	position: absolute;
	margin-top: 25%;
	font-size: 30px;
}
.project-tools {
	position: absolute;
	left: 5px;
	bottom: 5px;
}
.tool {
	float: left;
	display: inline-block;
	padding: 3px;
	border-radius: 8px;
	margin: 3px;
	font-size: 15px;
	background: #692b85;
	color: #fff;
}
.project-description {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	border: solid #692b85;
	border-radius: 15px;
	background: #fff;	
	z-index: 1;	
}
.project-desc {
	color: #341542;
	position: absolute;
	left: 5px;
	top: 5px;
	font-size: 12px;
}
.project-container:hover .project-cover {
	opacity: 0.7;
}
.project-container:hover .project-description {
	opacity: 0.8;
}

.returntotop {
  position: fixed;
  bottom: 20px;
  right: 10px;
  background: #b667da;
  width: 45px;
  height: 45px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
.returntotop i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 14px;
  top: 10px;
  font-size: 20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
.returntotop:hover {
  background: #af49df; 
  position: fixed; }
.returntotop:hover i {
  color: #fff;
  top: 5px; }

.profile {
	position: relative;
	margin: 0;
	padding: 5px;
	text-align: center;
}
.profile-container {
	position: relative;
}
.profile-container a {
	position: relative;
	text-align: center;
}
.profile-container img,
.profile-container i {
	vertical-align: middle;
	margin: 0 auto;
}
.profile-container:hover img,
.profile-container:hover i {
	transform: translateY(-8px);
	-webkit-transform: translateY(-8px);
	-moz-transform: translateY(-8px);
}

.obfuscate {
	unicode-bidi: bidi-override; 
	direction: rtl;
}

#footer {
	margin-top: 20px;
	width: 100%;
	text-align: center;
	z-index: 1000;
}
#copyright {
	display: inline-block;
	font-size: 24px;
	font-family: 'Roboto Condensed', sans-serif; 
}

#footer img {
	width: 15px;
	height: 15px; 
}

.pulse {
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite 
  }

@-webkit-keyframes pulsate {
    0% {opacity: .10}
    10% {opacity: .20}
    20% {opacity: .40}
    30% {opacity: .70}
    40% {opacity: .90}
    50% {opacity: 1.0}
    60% {opacity: .90}
    70% {opacity: .70}
    80% {opacity: .40}
    90% {opacity: .20}
    100% {opacity: .10} 
  }